apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: zeno-auth-dev
  annotations:
    run.googleapis.com/ingress: all
spec:
  template:
    metadata:
      annotations:
        run.googleapis.com/cloudsql-instances: zenon-cloud-dev-001:europe-west3:zenon-dev-sql
        run.googleapis.com/cpu-throttling: "false"
    spec:
      serviceAccountName: zeno-auth-dev@zenon-cloud-dev-001.iam.gserviceaccount.com
      containerConcurrency: 80
      timeoutSeconds: 60
      containers:
      - image: europe-west3-docker.pkg.dev/zenon-cloud-dev-001/zeno-auth-repo/zeno-auth:latest
        ports:
        - containerPort: 8080
        env:
        - name: ENV
          value: "dev"
        - name: PORT
          value: "8080"
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: zeno-auth-db-dsn
              key: latest
        - name: JWT_PRIVATE_KEY
          valueFrom:
            secretKeyRef:
              name: zeno-auth-jwt-private-key
              key: latest
        resources:
          limits:
            cpu: "1"
            memory: "512Mi"
          requests:
            cpu: "0.1"
            memory: "128Mi"
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 30
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10